@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {  
  min-height: 100vh;
  height: fit-content;
  font-family: Roboto Mono;
  font-size: 20px;
  background-color: #5dcfb8;
  background-image: linear-gradient(
    135deg,
    #5dcfb8 23%,
    #d73811 23%,
    #d73811 46%,
    #e16b06 46%,
    #e16b06 69%,
    #e1ba45 69%,
    #e1ba45 92%,
    #5b3217 92%
  );
  
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


#wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.6rem;
}

header {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 13px;

  font-size: 50px;
  font-weight: bold;

  border-bottom: #ffffff 4px solid;
  color: #ffffff;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style-type: none;
  margin: 10px;
  color: #eaeaea;
  font-size: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #eaeaea;
}

main {
  width: 80%;
  min-height: 82vh;
  height: fit-content;
}

footer {
  color: #ffffff;
}

table {
  text-align: center;
}

table td,th {
  padding: 5px;
}

#lowheader {
  height: fit-content;
  background: #5b3217;
  padding: 25px;
  margin: 10px;
  border-radius: 0.4rem;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.collumn {
  padding: 15px;
  margin: 10px;
  border-radius: 0.4rem;
  background: #5b3217;
}

.image-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-collumn {
  width: fit-content;
  padding: 15px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 0.4rem;
  background: #5b3217;
}

.boxshadow {
	box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.3);
}

.textshadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.underline {
  border-bottom: #ffffff 2px solid;
}

.clryellow {
  color: #e1ba45;
}

.clrorange{
  color: #e16b06;
}

.clrblue {
  color: #5dcfb8;
}


/* #command-center {
  margin: 0 0.4rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-2vh);
}

#theme-area{
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  background: #eaeaea;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#theme-center{
  margin: 0 0.4rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-2vh);
}

.theme-button{
  padding: 1rem 0;
  background: gray;
  border-radius: 0.4rem;
  text-align: center;
  font-size: .8rem;
}

.theme-button:hover{
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
} */

/* #left-wing {} */

/* #right-wing {} */

/* #typing-area {
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  background: #eaeaea;
}

#text-display {
  margin-bottom: 1rem;
  overflow: hidden;
}

#input-field {
  width: 100%;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

#redo-button {
  margin-left: 0.7rem;
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#footer {
  margin-bottom: 1.2rem;
  display: flex;
}

#footer *{
  text-decoration: none;
  margin: 0 .5rem;
  color: inherit;
}

#footer .button{
  cursor: pointer;
}

#footer a:visited{
  color: unset;
} */

.hidden{ 
  display: none !important;
}

body, header, nav, main, footer {
  /* transition: all .6s ease-in-out 1s; */
  transition: all .8s cubic-bezier(0.81, 0.18, 0.42, 1.1) 0.3s;
}
